.DS_Store
.mutt/cache
.vscode
.env
.env*
.next
.git
.npmrc
.nvmrc
coverage
node_modules
powerseller.sh
junit.xml

claude/projects
claude/file-history
claude/shell-snapshots
claude/statsig
claude/todos
claude/local

dist
build
jest-coverage
newrelic_agent.log
jest-coverage
dump.rdb

yarn-error.log
.yarnclean
.idea

translation-output.js

